.git
.gitignore
.history
.idea
.vscode
.codex

**/node_modules
**/dist
**/coverage
**/.vite

*.log
*.exe
*.test
*.out
__debug_bin*

config.yaml
config.local.yaml
config.*.local.yaml
mysql-data
docker-data
